/* .trip_info_block {
	display: flex;
	justify-content: space-around;
	border: 1px solid blue;
	border-radius: 5px;
	width: 50%;
	margin-bottom: 10px;
	padding: 5px;
} */
.border {
	border: 1px solid black;
	margin-bottom: 30px;
	padding: 20px;

}

.city {
	display: inline-block;
	font-family: 'Merriweather', serif;
	font-size: 2em

}

.main-wrap {
    /* overflow to handle inner floating block */
	overflow: hidden;
	height: 100%;
}

.sidebar {
    float: left;
	width: 70%;
	height: 100%;
}

.content-wrap {
    float: right;
	width: 30%;
	height: 100%;
}

.grid {
	width: 90%;
}
.Upgrid {
	height: 100%
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
  }

.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
  }
  
.container:hover {
	opacity: 0.3;
  }
  
.container:hover .middle {
	opacity: 1;
  }
  
.text {
	background-color: rgb(4, 123, 192);
	color: white;
	font-size: 16px;
	padding: 16px 32px;
  }

  .image {
	opacity: 1;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
	transition: .5s ease;
	backface-visibility: hidden;
	border: 1px solid white;
	box-shadow: 8px 8px 10px #aaa;
}


